.catalog {
  padding-bottom: 28px;

  background-color: $white;
}

.catalog__title-wrap {
  margin-bottom: 30px;
  padding-top: 72px;
  padding-bottom: 75px;

  background-color: $grey;
}

.catalog__title {
  margin: 0;

  font-size: 27px;
  line-height: 30px;
  text-align: center;

  color: $black;
}

.catalog__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;

  @include reset-list;

  margin: 0 auto;
}

.catalog__item {
  position: relative;

  width: 260px;
  min-height: 374px;
  margin-bottom: 28px;
  padding-bottom: 30px;

  outline: 1px solid $border-grey;
}

.catalog__item:last-child {
  margin-bottom: 0;
}

@media (min-width: $tablet-width) {
  .catalog {
    padding-bottom: 49px;
  }

  .catalog__title-wrap {
    margin-bottom: 84px;
    padding-top: 96px;
  }

  .catalog__title {
    @include tablet-section-title;
  }

  .catalog__list {
    width: 669px;
  }

  .catalog__item {
    position: relative;

    width: 669px;
    min-height: 334px;
    height: 334px;
    margin-bottom: 56px;
  }

  .catalog__list .catalog__item {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    padding-bottom: 0;
  }

  .catalog__title-wrap {
    margin-bottom: 126px;
    padding-top: 94px;
    padding-bottom: 107px;
  }

  .catalog__title {
    @include desktop-section-title;
  }

  .catalog__list {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    width: 1150px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .catalog__item {
    width: 316px;
    height: 659px;
  }

  .catalog__item:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  .catalog__item:active {
    box-shadow: 0 3px 5px 0 rgba($color: $black, $alpha: 0.1);
  }
}
