.contacts {
  padding-top: 44px;
  padding-bottom: 40px;

  background-color: $white;
}

.contacts__title {
  font-size: 18px;
}

.contacts__email {
  margin: 0;

  font-size: 15px;
  line-height: 30px;
  color: $greyishBrown;
}

.contacts__email-link {
  color: $greyishBrown;
}

.contacts__address {
  font-size: 15px;
  font-style: normal;
  line-height: 30px;
  color: $greyishBrown;
}

.contacts__write {
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  text-transform: uppercase;
  color: $greyishBrown;
}
