.copyright {
  display: flex;
  align-items: center;
}

.copyright__text {
  margin-right: 30px;

  font-size: 19px;
  line-height: 28px;
  color: $black;
}

.copyright__link:hover .copyright__icon path,
.copyright__link:focus .copyright__icon path {
  fill: $sea-foam-blue;
}

.copyright__link:active .copyright__icon path {
  opacity: 0.3;

  fill: $sea-foam-blue;
}
