.features {
  padding-top: 35px;
  padding-bottom: 35px;
  color: $black;
}

.features__list {
  @include resetList;
}

.features__item {
  font-size: 17px;
  font-weight: 600;
  line-height: 20px;
}
