.modal {
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;

  background-color: $white;
  border: 1px solid $greyBorder;

  &::before {
    content: "";

    position: absolute;
    top: 0;
    z-index: 1;

    width: 100%;
    height: 100%;

    background-color: tomato;
  }
}

.modal__title {
  @include mobile-section-title;
  text-transform: uppercase;
}

.modal__subtitle {
  font-size: 15px;
  line-height: 30px;
  color: $greyishBrown;
}

.modal__list {
  @include reset-list;
}

.modal__item {
  font-size: 17px;
  font-weight: 600;
  line-height: 16px;
  color: $greyishBrown;
}

.modal__button {
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: $white;

  background-color: $seaFoamBlue;
  border: none;
}
