.order {
  padding-bottom: 30px;

  background-color: $white;
}

.order__wrapper {
  @include mobile-wrapper;
}

.order__title-wrap {
  margin-bottom: 22px;
  padding-top: 72px;
  padding-bottom: 76px;

  background-color: $grey;
}

.order__title {
  @include mobile-section-title;

  margin: 0;

  font-size: 27px;
  text-align: center;
}

.order__descr {
  margin: 0;
  margin-bottom: 24px;

  font-size: 13px;
  line-height: 24px;
  color: $greyish-brown;
}

@media (min-width: $tablet-width) {
  .order__wrapper {
    @include tablet-wrapper;

    padding-bottom: 50px;
  }

  .order__title-wrap {
    margin-bottom: 78px;
    padding-top: 92px;
  }

  .order__title {
    @include tablet-section-title;
  }

  .order__descr {
    font-size: 17px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .order__wrapper {
    @include desktop-wrapper;

    padding-left: 225px;
  }

  .order__title-wrap {
    margin-bottom: 151px;
  }

  .order__title {
    @include desktop-section-title;
  }

  .order__descr {
    max-width: 672px;
  }
}
