.order {
  padding-top: 29px;
  padding-bottom: 55px;

  background-color: $white;
}

.order__title-wrap {
  margin-bottom: 30px;

  background-color: $grey;
}

.order__title {
  margin: 0;
  padding-top: 80px;
  padding-bottom: 80px;

  @include mobile-section-title;
  font-size: 27px;
  text-align: center;
}

.order__descr {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;

  font-size: 13px;
  line-height: 24px;
  color: $greyishBrown;
}

@media (min-width: $tablet-width) {
  .order__title {
    @include tablet-section-title;
  }

  .order__descr {
    width: 772px;
    padding-left: 50px;
    padding-right: 50px;

    font-size: 17px;
    line-height: 24px;
  }
}
