.page-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  margin: 0 auto;

  font-size: 17px;
  line-height: 24px;
  color: $black;

  background-color: $white;
  outline: 1px solid $border-grey;
}

.page-header__wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  padding-top: 22px;
}

.page-header__logo {
  // display: inline-block;
  // margin-left: auto;
  // margin-right: auto;
  margin-bottom: 15px;
}

.page-header__note {
  display: none;
}

.page-header__logo:hover,
.page-header__logo:focus {
  opacity: 0.6;
}

.page-header__logo:active {
  opacity: 0.3;
}


@media (min-width: $tablet-width) {
  .page-header {
    position: relative;

    width: 768px;
    margin: 0 auto;
    padding: 0;
    max-height: 88px;

    border: 1px solid $border-grey;
  }

  .page-header__wrapper {
    position: relative;
    z-index: 1;

    display: flex;
    align-items: flex-start;
    width: 668px;
    margin: 0 auto;
    padding-top: 0;

    outline: none;
  }

  .page-header__logo {
    position: absolute;
    z-index: 1;

    width: 112px;
    height: 46px;
    margin: 0;
    padding-top: 25px;
  }

  .page-header__note {
    position: absolute;
    bottom: 36px;
    right: 0;

    display: block;
    margin: 0;
  }

  .page-header__note-link:hover,
  .page-header__note-link:focus {
    opacity: 0.6;
  }

  .page-header__note-link:active {
    opacity: 0.3;
  }

  .page-header__note-link {
    font-size: 15px;
    color: $greyish-brown;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    width: 1150px;
  }

  .page-header__wrapper {
    width: 1050px;
    padding-top: 0;
  }

  .page-header__logo {
    left: 50%;

    width: 148px;
    height: 103px;
    padding-top: 8px;

    transform: translateX(-50%);
  }

  .page-header__note {
    bottom: -42px;
  }
}
