.product-of-week {
  padding-top: 35px;
  padding-bottom: 35px;

  background-color: $white;
}

.product-of-week__subtitle {
  font-size: 17px;
  font-weight: 600;
  line-height: 20px;
  color: $seaFoamBlue;
}

.product-of-week__descr {
  font-size: 15px;
  line-height: 24px;
  color: $greyishBrown;
}

.product-of-week__specifics {
  font-size: 15px;
  line-height: 20px;
  color: $greyishBrown;
}

.product-of-week__price {
  font-size: 17px;
  font-weight: 600;
  line-height: 24px;
  color: $greyishBrown;
}

.product-of-week__order {
  font-size: 17px;
  font-weight: 600;
  line-height: 20px;
  color: $greyishBrown;
}
