.product__title {
  font-size: 17px;
  font-weight: 600;
  line-height: 24px;
  color: $black;
}

.product__specifics {
  font-size: 13px;
  line-height: 30px;
  color: $greyishBrown;
}

.product__price {
  font-size: 15px;
  font-weight: 600;
  line-height: 24px;
  color: $black;
}
