.social {
  @include reset-list;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 58px;
}

.social__item:not(:last-child) {
  margin-right: 40px;
}

@media (min-width: $tablet-width) {
  .social {
    margin-bottom: 0;
  }
}
