.features {
  padding-top: 35px;
  padding-bottom: 35px;

  color: #000000;
  &__title {
    font-size: 25px;
    line-height: 30px;
  }
  &__list {
    margin: 0;
    padding: 0;

    list-style: none;
  }
  &__item {
    font-size: 17px;
    line-height: 20px;
  }
}
