@mixin reset-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin mobile-section-title {
  font-size: 25px;
  line-height: 30px;
  font-weight: 600;
  color: $black;
}

@mixin tablet-section-title {
  font-size: 43px;
  line-height: 50px;
  color: $black;
}

@mixin desktop-section-title {
  font-size: 53px;
  line-height: 57px;
  color: $black;
}

@mixin mobile-wrapper {
  width: 320px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

@mixin tablet-wrapper {
  width: 768px;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
}

@mixin desktop-wrapper {
  width: 1150px;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
}
