$veryDark: #010000;
$white: #ffffff;
$seaFoamBlue: #63d1bb;
$greenyBlue: #56c3b2;
$black: #000000;
$greyishBrown: #444444;
$grey: #f1f1f1;
$greyOpacity: rgba(68, 68, 68, 0.3);
$greyBorder: rgba(0, 1, 1, 0.25);
