$very-dark: #010000;
$white: #ffffff;
$sea-foam-blue: #63d1bb;
$greeny-blue: #56c3b2;
$black: #000000;
$greyish-brown: #444444;
$grey: #f1f1f1;
$grey-opacity: rgba(68, 68, 68, 0.3);
$border-grey: #ececec;
$promo-bg-grey: #f9f9f9;

$tablet-width: 768px;
$desktop-width: 1150px;
$mobile-width-only: 767px;
